<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Oxente Animes</title>
  <!-- CSS BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="shortcut icon" href="https://oxentenet.com/static/assets/images/favicon.png" type="image/x-icon">
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    main {
      padding: 0.9rem;
    }

    @media (min-width: 0) and (max-width: 1000px) {
      .coluna {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .coluna .grafico-animes, .grafico-estudios {
        margin-bottom: 1rem;
        width: 80% !important;
      }
    }
    @media (min-width: 0) and (max-width: 500px) {
      .coluna .grafico-animes, .grafico-estudios {
        margin-bottom: 1rem;
        width: 100% !important;
      }
    }
  </style>
</head>

<body>
  <header>
    <nav class="navbar bg-light">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="#">
          <img src="https://oxentenet.com/static/assets/images/favicon.png" alt="" width="30" height="24"
            class="d-inline-block align-text-top">
          Oxente Animes
        </a>
      </div>
    </nav>
  </header>
  <main>
    <div class="animes-disponiveis mb-2">
      <div class="badge bg-primary text-wrap" style="width: 10rem;">
        {{quantidadeAnimes}} Animes disponíveis
      </div>
    </div>
    <div class="graficos" style="width: 100%;">
      <div class="d-inline-flex p-2 justify-content-between coluna" style="width: 100%;">
        <div class="grafico-animes" style="width: 48%;">
          <div>
            <canvas id="animes"></canvas>
          </div>
        </div>
        <div class="grafico-estudios" style="width: 48%;">
          <div>
            <canvas id="estudios"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="grafico-dados">
      <div class="dados-animes" style="display: none;">
        {% for i in animes %}
          <p>{{i.name}}</p>
          <h5>{{i.rated_by}}</h5>
        {% endfor %}
      </div>
      <div class="dados-estudios" style="display: none;">
        {% for i in estudios %}
        <p>{{i.studio}}</p>
        <h5>{{i.qtd}}</h5>
        {% endfor %}
      </div>
    </div>
  </main>

  <!-- JS BOOTSTRAP -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
  </script>
  <!-- CHART JS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const nomeEstudiosNode = document.querySelectorAll(".dados-estudios p");
    const nomeEstudios = [];
    for (let i = 0; i < nomeEstudiosNode.length; i++) {
      nomeEstudios.push(nomeEstudiosNode[i].textContent);
    }

    const qtdEstudiosNode = document.querySelectorAll(".dados-estudios h5");
    const qtdEstudios = [];
    for (let i = 0; i < qtdEstudiosNode.length; i++) {
      qtdEstudios.push(parseInt(qtdEstudiosNode[i].textContent));
    }

    const nomeAnimesNode = document.querySelectorAll(".dados-animes p");
    const nomeAnimes = [];
    for (let i = 0; i < nomeAnimesNode.length; i++) {
      nomeAnimes.push(nomeAnimesNode[i].textContent);
    }

    const qtdAnimesNode = document.querySelectorAll(".dados-animes h5");
    const qtdAnimes = [];
    for (let i = 0; i < qtdAnimesNode.length; i++) {
      qtdAnimes.push(parseInt(qtdAnimesNode[i].textContent));
    }

    const labelsAnimes = nomeAnimes;

    const labelsEstudios = nomeEstudios;

    const dataAnimes = {
      labels: labelsAnimes,
      datasets: [{
        label: 'Avaliação do público',
        backgroundColor: '#6495ED',
        borderColor: 'rgb(255, 99, 132)',
        data: qtdAnimes,
      }]
    };

    const dataEstudios = {
      labels: labelsEstudios,
      datasets: [{
        label: 'Quantidade de animes do estúdio',
        backgroundColor: '#87CEEB',
        borderColor: 'rgb(255, 99, 132)',
        data: qtdEstudios,
      }]
    };

    const configAnimes = {
      type: 'bar',
      data: dataAnimes,
      options: {
        indexAxis: 'y',
      }
    };

    const configEstudios = {
      type: 'bar',
      data: dataEstudios,
      options: {}
    };
  </script>
  <script>
    const animes = new Chart(
      document.getElementById('animes'),
      configAnimes
    );
    const estudios = new Chart(
      document.getElementById('estudios'),
      configEstudios
    );
  </script>


</body>

</html>